GOOGLE_STT_API_KEY=
VNPT_ACCESS_TOKEN=
VNPT_TOKEN_ID=
VNPT_TOKEN_KEY=
VNPT_BASE_URL=https://api.idg.vnpt.vn
STT_PROVIDER=google
ENABLE_TTS=true
NLU_MODE=llm
LLM_BASE_URL=http://localhost:20128/v1
LLM_MODEL=cx/gpt-5.5
